<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>Terms</h2>
                <p class="card-text">
Please read our full terms, user agreement, privacy policy etc.
<br><hr><br>

<br>
Registration<br>
1. User registration on this website is free.<br>
2. One user per email is allowed, multiple user accounts on single email id is not allowed.<br>
3. User caught spamming, hacking, cheating will be banned immidiately and balance will not be refunded.<br>
4. User provided false information will lead us to ban his/her user_id/email_id/ip_address/device_id etc.<br>
5. You may create and oparate acoount anonymous, But there will be some restrictions and limitations.<br>
<hr><br>
Trading<br>
01. User involved in unlawfull/suspicious activities will be banned and account will be blocked for lifetime without refund of balances.<br>
2. Please be aware of Altcoin, Bitcoin trading laws of your juridiction, before start trading.<br>
3. Altcoin, Bitcoin trading profit/loss is subject to market risk.<br>
4. Please see coin info before trade, we will not be responsible for any loss in trades.<br>
5. 0.2% trade fees will be levied on each trade, min. trade fee 0.00000010BTC in BTC markets.<br>
6. Trading of Bitcoin or Altcoins are subject to market risks.<br>
<hr><br>
Deposit/Withdrawal<br>
1. Check coin details and address carefully before deposit/withdrawal, Transaction can not be cancelled once submitted.<br>
2. Coin deposit/withdrawals are instant from our end, transaction may delay due to blockchain confirmations.<br>
3. No transactions will be done during wallet under mantainance.<br>
4. We will not be responsible for deposit/withdrawal lost due to coins sent from/to wrong chain, wrong address entered by user or transaction done while wallet under mantainance.<br>
5. Remember cryptocoin transactions are not revertable, once you made deposit or withdrawal it can not be reverted so if you sent coins to wrong chain, wrong address or sent coins while <br>
wallet under maintenance will be lost forever. There is no way to recover it and we will not be able to help you recover funds in such cases.<br>
<hr><br>
Support Ticket<br>
1. Wait at least 24 hours for support ticket to be replied.<br>
2. Multiple support tickets on single topic will be removed.<br>
3. Using vulgar language in support ticket will lead us to ban user from 30 days to lifetime without refund of balances.<br>
<hr><br>
Chat<br>
1. User spamming in chat-box will be banned for 48 hours. Wait for at least 30 seconds to post next message.<br>
2. Using of vulgar words, sexuality, adultary or posting such links in chat-box will be banned for a week to a month or lifetime.<br>
3. User advertising, promoting, or posting url's in chat-box will be banned for 48 hours to 1 month.<br>
4. Do not post your issue in chat-box rather raise support ticket, users posting issue in chat-box repeatedly will be banned for chat from 1 week to 6 months.<br>
5. Posting any comments on religion, nation, war or specific community is not allowed. In such case user maybe banned from a day to lifetime.<br>
<hr><br>
User Agreement<br>
Users agree to our agreement by default upon regsitration.
Cryptocoins, tokens are digital assets issued by developers without instrinct value. Coin developer, us or any third-party do not guarantee it's value nor liable to refund in case currency fails and valued to zero. You should know the risk before purachasing any cryptocoins, tokens or online shares.
Users store cryptocoins, tokens on our web wallets are completely at own risk, we have highly secure servers to keep coins, tokens and shares safe, we only keep 25% coins, tokens on hot wallets for instant withdraw, 75% kept in cold stroage for safety, we also reserve some insurance funds to refund users in case of lost of fund by hacking, data lost etc. In case funds lost by hacking or lost data, we will only refund 75% of balance plus from insurance funds, we do not guarantee 100% refund in case of lost of funds due to hack, data lost or any other reason. We reserve rights to decide refund process period and whether to refund fully at once or partly payment by weekly, monthly or depends on the situations.
Online shares are issued by third party and we contribute funds on behalf of them from our web platform for them with minimal fee. We collect all required informations about issuer and his/her business as much as we can and publish on our webplatform, We also keep some shares and funds for dividend distribution and for the security to refund buyer in case asset fails and if in case issuer not respond. Kindly read info on our website and also investigate information outside about share issuer before investing in online shares, We do not guarantee any refunds more than funds we holding as security and insurance funds to buyers in case share is failed and or if dividend not paid by issuer for more than 65 months.
All traded are done automatically by our trade engine and recoeded to our servers, one can see all trades from our server using our public api.
By registering with us you also agree to use our platform for your need as per fair use policy. Physing, spamming, using vulgar language in chat-box/supprt or user found in any suspecious or unlawfull activities will be banned forever in such case account will be locked permanently and no balances will be refunded.
User registered with us also agrees to be aged over 18 years and cryptocoins, token, online shares buying/trading is allowed in juridiction territory he/she residing in.
As crypto currencies, tokens and online shares have no instrinct value, so users can not use his/her assets holding with us in any private law agreement such as guarantee for loan to a bank or lender or to any other firm or individual agreement or in any contact. Anyways crypto currencies, tokens and online shares have economical value so one can use it as payment method to others using our platform.
Users requested to read our terms and agreement time to time and if any changes is not suitable to user or not accepted by user may close his/her account and withraw all funds or self trash it.<br>
<hr><br>
Privacy Policy<br>
1. When registering on our site, you may be asked to enter email address or other details to help you with your experience.<br>
2. We collect information from you when you subscribe to a newsletter or enter information on our site.<br>
3. We may use the information we collect from you when you register,sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways: To send periodic emails regarding containing latest news and updates.<br>
4. We do not use cookies for tracking purposes. You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since all browsers are a little different, look at your browser’s Help Menu to learn the correct way to modify your cookies. If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that make your site experience more efficient and may not function properly.<br>
5. We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.<br>
6. Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.<br>
7. By using our site, you consent to our privacy policy.<br>
8. If we decide to change our privacy policy, we will post those changes on our Privacy Policy page.<br>
<hr><br>
Jurisdiction<br>
Laws in the country where the user resides may not allow the usage of an online tool with the characteristics of AbacusBit.io or any of its features. AbacusBit.io does not encourage the violation of any laws and cannot be held responsible for violation of such laws. For all legal purposes, these Terms of Use shall be governed by the laws applicable herein. You agree and hereby submit to the exclusive personal jurisdiction and venue of the resolution of any disputes arising from these Terms of Use.<br>
<hr><br>
Risks<br>
There are some things you need to understand before getting started with cryptocurrencies. Cryptocoin transactions are irreversible. The cryptocurrency market is very volatile and prone to bubbles and rapid price swings. Buying or Selling in these crypto currencies may be considered a high risk activity. Proper and sound judgment should be used in evaluating the risks associated with these activities. The market price changes over time so your coins may be worthless in the future. In fact, they may even become completely worthless. Bitcoin and other coins is not backed by any entity. Abacusbit.io does not solicit nor make any representation that Bitcoin and crypto currencies are an investment vehicle. Neither Abacutbit.io nor anyone else has an obligation to buyback your coins in the future. The decision to trade or invest in crypto currencies rests entirely on the users own independent judgment. Never spend more money on coins than you can afford to lose.<br>
<hr><br>
Website and Features<br>
Abacusbit.io will always attempt to keep its users informed of any changes to the website. However, Abacusbit.io may terminate, change, suspend or discontinue any aspect of this website, including the availability of features of the site, at any time. Abacusbit.io may also impose limits on certain features and services or restrict your access to part or the entire website without prior notice or liability.<br>
<hr><br>

<hr><br>



<hr><br>

</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
